$background-color: #333333;
$text-color: #F3F3F3;
$nav-background-color: #030303;
$nav-text-color: #FFFFFF;
$link-hover-color: #C3C3C3;
$info-color: green;
$error-color: red;
$messages-background-color: #F3F3F3;
